
#BACKEND CONFIGURATION 
PORT=3000

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/dms_db"

JWT_SECRET=your_jwt_secret_key_here

BLOCKCHAIN_HASH_SALT=your_blockchain_hash_salt
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=your_blockchain_private_key
BLOCKCHAIN_CONTRACT_ADDRESS=your_contract_address
BLOCKCHAIN_NETWORK=hardhat-local

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=your_s3_access_key
S3_SECRET_ACCESS_KEY=your_s3_secret_key
S3_BUCKET_NAME=dms-files


#FRONTEND CONFIGURATION
VITE_API_BASE_URL=http://localhost:3000/api
